.parent {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  width: 50%;
  margin-bottom: 10px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
