<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Cadastro de Colaboradores</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <form [formGroup]="formGrupo" class="parent" (ngSubmit)="enviar()">

    <mat-form-field appearance="outline">
      <mat-label>Nome completo</mat-label>
      <input matInput placeholder="Ex: José da Silva" formControlName="nome">
      <mat-error *ngIf="f.nome.invalid">Preencha nome e o sobrenome corretamente.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex: seunome@email.com" formControlName="email">
      <mat-error *ngIf="f.email.invalid">Formato de email inválido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de Nascimento</mat-label>
      <input type="date" matInput placeholder="Ex: 22/10/1988" formControlName="nascimento">
      <mat-error *ngIf="f.nascimento.invalid">É necessário possuir 18 anos.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sexo">
        <mat-option value="0">Masculino</mat-option>
        <mat-option value="1">Feminino</mat-option>
      </mat-select>
      <mat-error *ngIf="f.nascimento.invalid">Preenchimento obrigatório.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Habilidades</mat-label>
      <mat-select formControlName="habilidades" multiple>
        <mat-option *ngFor="let hb of listaHabilidades" [value]="hb">{{hb}}</mat-option>
      </mat-select>
      <mat-error *ngIf="f.nascimento.invalid">Ao menos uma habilidade é requerida.</mat-error>
    </mat-form-field>

    <div class="botoes">
      <button mat-raised-button color="primary" [disabled]="formGrupo.invalid">Enviar Formulário</button>
      <button mat-raised-button type="reset" (click)="resetar()">Limpar</button>
    </div>

  </form>
</mat-card>


