<mat-drawer-container class="example-container">
  <mat-drawer mode="side" class="expand" opened>
    <mat-list>
      <mat-list-item>
        <a [routerLink]="['/app-home']">
          <mat-icon>home</mat-icon> Home
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/app-cadastro']">
          <mat-icon>fingerprint</mat-icon> Cadastro
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/app-relatorio']">
          <mat-icon>list_alt</mat-icon> Relatório
        </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
