.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.expand {
  width: 200px;
  background-color: #19222a;
  color: #fff;

  a {
    color: #fff;
    font-size: 1em;
    padding: 1.05em 1em;
    position: relative;
    display: block;
    text-decoration: none;

    &:hover {
      color: chartreuse;
    }

    mat-icon {
        font-size: 1em;
    }
  }
}
