<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Relatório</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-form-field>
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ex. Emilio">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="nascimento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nascimento </th>
      <td mat-cell *matCellDef="let row"> {{row.nascimento | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="idade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Idade </th>
      <td mat-cell *matCellDef="let row"> {{calcularIdade(row.nascimento)}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{SexoEnum[row.sexo]}} </td>
    </ng-container>

    <ng-container matColumnDef="habilidades">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Habilidades </th>
      <td mat-cell *matCellDef="let row"> {{converterEnumArray(row.habilidades)}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="ativarDesativar(row)">{{row.ativo == true ? 'Desativar' : 'Ativar'}}</button>
        <button mat-raised-button color="primary" (click)="editar(row.id)">Editar</button>
        <button mat-raised-button color="warn" (click)="excluir(row)">Excluir</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
